.rel-wrapper{
    width: 100vw;
    height: 100vh;
    // background-image: linear-gradient(black,white);
    // background-image: linear-gradient(red,red);
    .common-bg-img{
        
    }
    .rel-main{
       
        position: relative;
        display: flex;
        flex-direction: column;
    }
    
}