.charging-containerNew {
  width: 100%;
  // height: calc(100vh - 109px);
  // border: 1px solid red;
  // background-image: url("../../../asset/LandingPage/ChargingvideoLanding.gif");
  background-image: url("../../../asset/LandingPage/Charging__video__AdobeExpress__1__AdobeExpress.gif");

  background-size: contain;

  background-repeat: round;

}