.performance-containerNew {
  width: 100%;
  // height: calc(100vh - 109px);
  // border: 1px solid red;
  background-image: url("../../../asset/LandingPage/Performance.svg");
  background-size: cover;
}