.home-container {
  width: 100%;
  // height: calc(100vh - 109px);
  // border: 1px solid red;
  // background-image: url("../../../asset/LandingPage/landingHome.gif");
  // background-size: cover;
}
.home-logo {
  color: #fff;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}