.w-connectivity{
    width: 100vw;
    height: 100vh;
    position: relative;
    background: url("../../../Assets/Connectivity/connectivity.jpg");
    background-size:100% 100%;

}

.connectivity_container{
    font-weight: 700;
    text-align: left;
font-size: 74.2798px;
line-height: 110%;
color: #FFFFFF;
padding-top: 200px;
margin-left: 104px;
 
 }
 .connectivity_container h1{
     font-family: 'Red Hat Display';
 font-style: normal;
 font-weight: 700;
 font-size: 70.1531px;
 line-height: 110%;
 color: #FFFFFF;
 /* text-transform: uppercase; */
 }
 
 .box_container{
 
     position: absolute;
     display: flex;
     justify-content: space-evenly;
     gap: 16px;
     bottom: 32px;
     left: 197px;
 
 }
 
 .starting_at{
     font-family: 'Red Hat Display';
     font-style: normal;
     font-weight: 500;
     font-size: 30.2222px !important;
     line-height: 135% !important;
     color: #FFFFFF;
     margin-top: 16px !important;
 
 }