.warrenty-container {
  width: 100%;
  // height: calc(100vh - 109px);
  // border: 1px solid red;
  // background-image: url("../../../asset/LandingPage/WarrentyLanding.png");
  background-image: url("../../../asset/LandingPage/WARRANTY.svg");

  background-size: cover;
}