.reliability-containerNew {
  width: 100%;
  // height: calc(100vh - 109px);
  // border: 1px solid red;
  // background-image: url("../../../asset/LandingPage/ReliabilityLanding.png");
  background-image: url("../../../asset/LandingPage/Reliability-01.svg");

  background-size: cover;
}